#myselect, #myotherselect {
	display: block;
	float: left;
	width: 100px;
	clear: left;
	text-align: right;
	margin-right: 20px;
	margin-bottom: 0px;
}


fieldset.comboselect {
	border: 0;
	display: block;
	float: left;
	width: 100%;
	margin-bottom: 0px;
	padding: 0;
}

fieldset.comboselect * {
	display: block;
	float: left;
	width: 47%;
}

fieldset.comboselect select {
	height: 300px;
	width: 45%;
}

fieldset.comboselect fieldset {
	border: 0;
	width: 3%;
	height: 300px;
	padding: 10px;
	padding-top: 25px;
}

fieldset.comboselect fieldset input {
	width: 100%;
	clear: left;
	margin: 5px 0;
}

fieldset.comboselect select option {
	width: 100% !important;
	border: 0;
	border-bottom: 1px dotted #959DB7;
}
