<module>
	<rawname>cidroute</rawname>
	<name>Caller Location Routing</name>
	<version>1.0.0</version>
	<description>This lets you set the destination of an incoming call based on the CallerID of the incoming call. Presently, this database only has AUSTRALIAN data in it.</description>
	<type>setup</type>
	<category>Inbound Call Control</category>
	<menuitems>
		<cidroute>Caller Location Routing</cidroute>
	</menuitems>
	<depends>
		<engine>asterisk 1.2</engine>
	</depends>
	<location>fail</location>
	<md5sum>fail</md5sum>
	<changelog>
		*1.0.0* First release, Australian data only.
	</changelog>
</module>
